<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>jwf-app-test</display-name>

	<servlet>
		<servlet-name>JWF Router Servlet</servlet-name>
		<servlet-class>br.com.tm.dev.lib.jwf.route.ApplicationRouter</servlet-class>

		<init-param>
			<param-name>unauthorizedPage</param-name>
			<param-value>/pages/AccessDeniedView.jsp</param-value>
		</init-param>

		<init-param>
			<param-name>controllerPath</param-name>
			<param-value>br.com.tm.dev.lib.jwf.app.controller</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>JWF Router Servlet</servlet-name>
		<url-pattern>/ApplicationRouter</url-pattern>
	</servlet-mapping>

</web-app>